discord.py == 2.0.1
yt_dlp == 2021.10.10
PyNaCl
wheel~=0.37.0
ffmpeg
pip~=19.3.1
attrs~=21.4.0
toml~=0.10.2
google~=3.0.0
cryptography~=37.0.4
Pillow~=8.3.2
docutils~=0.19
tornado~=6.1
Jinja2~=3.0.3
setuptools~=56.0.0
packaging~=21.3
pyparsing~=2.4.7
future~=0.18.2